body {
  padding-top: 30px;
}
@keyframes play60 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1680px 0px;
  }
}
.shapeshifter {
  margin: auto;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  cursor: pointer; 
}
.shapeshifter.play {
  animation-name: play60;  
  animation-direction: forwards;
  animation-duration: 1000ms;
  animation-timing-function: steps(60);
  animation-fill-mode: forwards;
  animation-direction: forwards;
}
.shapeshifter.rev {
  animation-name: play60;   
  animation-duration: 1000ms;
  animation-timing-function: steps(60);
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

